<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KLove</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.css" />
    
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        @await Html.PartialAsync("_Navbar")

        @await Html.PartialAsync("_Sidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->

        @await Html.PartialAsync("_Footer")
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/lib/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script>$.widget.bridge('uibutton', $.ui.button)</script>*@
    <!-- Bootstrap 4 -->
    <script src="~/lib/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/lib/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/AdminLTE/dist/js/adminlte.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.searchable-table').DataTable({
                responsive: true,
                stateSave: true
            });
        })
    </script>

    @RenderSection("Scripts", required: false)

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
